// Define variables for your color scheme

// For example:
$red: #CC0000;
$blue: #0099FF;
$yellow: #FFFF00;
$orange: #FF9900;
$green: #009900;
$gray: #000000;
$light-gray: #F4F4F4;
$dark-blue: #333399;
