.intervention-card-essentiels{
  display: flex;
  justify-content: space-between;
}

.intervention-section{
  padding-top: 15px;
}

.intervention-card-plaideurs-container{

}

.intervention-card-assign-container{
  display: flex;
  justify-content: space-between;
}
